{{> header}}
{{#hyperlink}}
<p>Your hyperlink is: <a href="{{hyperlink}}">{{hyperlink}}</a></p>
{{/hyperlink}}
<form method="post">
  <label for="hyperlink">Hyperlink</label>
  <input id="hyperlink" name="hyperlink" type="text" minlength="4"
         maxlength="2097152" required>
  <button type="submit">Process</button>
</form>
{{> footer}}
